.btn {
  @apply relative z-0 overflow-hidden rounded-full border px-[1.5em] py-[0.5em] outline-none transition-all duration-300;

  &::after,
  &::before {
    content: "";
    @apply absolute top-0 -z-10 h-full w-0 outline-none transition-all duration-300;
  }

  &::after {
    @apply right-0 rounded-r-full;
  }

  &::before {
    @apply left-0 rounded-l-full;
  }
}

.btn-outline-primary {
  @apply btn border-primary text-primary;

  &:hover,
  &:focus {
    @apply text-white;

    &::after,
    &::before {
      width: calc(50% + 4px);
      @apply bg-primary;
    }
  }
}

.btn-outline-accent {
  @apply btn border-accent text-accent;

  &:hover,
  &:focus {
    @apply text-white;

    &::after,
    &::before {
      width: calc(50% + 4px);
      @apply bg-accent;
    }
  }
}

.btn-fill-primary {
  @apply btn border-primary text-white;

  &::after,
  &::before {
    width: calc(50% + 4px);
    @apply bg-primary;
  }

  &:hover,
  &:focus {
    @apply text-primary;

    &::after,
    &::before {
      @apply w-0;
    }
  }
}

.btn-fill-accent {
  @apply btn border-accent text-white;

  &::after,
  &::before {
    width: calc(50% + 4px);
    @apply w-1/2 bg-accent;
  }

  &:hover,
  &:focus {
    @apply text-accent;

    &::after,
    &::before {
      @apply w-0;
    }
  }
}
