<swiper [config]="swiperConfig">
  <ng-template *ngFor="let slide of slides" swiperSlide>
    <div
      style="background-color: {{ slide.background }}"
      class="relative flex min-h-[80vh]"
    >
      <div class="container flex items-center justify-between gap-10 md:gap-40 p-5 md:flex-row flex-col">
        <div class="flex-1 text-center md:text-left">
          <p class="text-6xl font-bold text-accent">{{ slide.title }}</p>
          <p class="my-8 text-accent">{{ slide.describtion }}</p>
          <button
            class="rounded-full border border-primary px-8 py-3 uppercase text-primary"
          >
            shop now
          </button>
        </div>
        <div class="flex-1">
          <img [src]="slide.img" alt="slide image" />
        </div>
      </div>
      <div
        class="swiper-pagination absolute my-4 flex w-full items-center justify-center gap-2"
      ></div>
    </div>
  </ng-template>
</swiper>
