<section class="container my-20 flex flex-col md:flex-row gap-6">
  <div class="card-blue">
    <div class="card-content">
      <p class="text-lg text-accent">Super Sale</p>
      <h3 class="text-3xl font-bold text-accent">New Collection</h3>
      <button class="btn-outline-accent my-5">Shop Now</button>
    </div>

    <div class="card-image">
      <img src="assets/imgs/sales-1.webp" alt="sale" class="w-full" />
    </div>
  </div>

  <div class="card-yellow">
    <div class="card-content">
      <h3 class="text-3xl font-bold text-accent">New Season</h3>
      <p class="text-lg text-accent">Sale 40% Off</p>
      <button class="btn-fill-accent my-5">Shop Now</button>
    </div>

    <div class="card-image">
      <img src="assets/imgs/sales-2.webp" alt="sale" class="w-full" />
    </div>
  </div>
</section>
