<div
  *ngIf="product"
  class="card flex h-full min-h-[360px] w-full max-w-[250px] flex-col rounded-lg border border-gray-300"
>
  <div class="max-h-60 relative flex flex-1 items-center overflow-hidden">
    <img
      class="p-3"
      [src]="product.thumbnail"
      alt=""
    />

    <div class="action-btns">
      <button (click)="openProductDetails()">
        <fa-icon [icon]="faZoom"></fa-icon>
      </button>
      <button
        class="favorite-btn delay-75"
        (click)="toggleFavorite()"
      >
        <fa-icon
          *ngIf="product"
          [icon]="faHeartFilled"
        ></fa-icon>
        <!-- <fa-icon
          *ngIf="!product.inMyFavorites"
          [icon]="faheartOutlined"
        ></fa-icon> -->
      </button>
    </div>
  </div>
  <div class="card-content p-4 text-center">
    <a
      href=""
      class="mb-3 block text-lg font-bold text-accent transition-colors hover:text-primary"
    >
      {{ product.title }}
    </a>
    <div class="card-footer relative flex flex-col gap-3">
      <div class="flex justify-center gap-2 text-lg flex-wrap">
        <span class="font-bold text-primary">${{ product.price | number: '1.0-0' }}</span>
        <span
          class="text-gray-500 line-through"
          *ngIf="product.discountPercentage"
        >${{ product.price * product.discountPercentage | number: '1.0-0' }}</span>
        <span
          class="text-green-600"
          *ngIf="product.discountPercentage"
        >{{ product.discountPercentage | number: '1.0-0' }}% off</span>
      </div>

      <div class="flex justify-center gap-4">
        <div class="flex text-yellow-500">
          <fa-icon
            *ngFor="let star of [].constructor(ratingStars.filled)"
            [icon]="faStarFilled"
          ></fa-icon>
          <fa-icon
            *ngFor="let star of [].constructor(ratingStars.half)"
            [icon]="faStarHalf"
          ></fa-icon>
          <fa-icon
            *ngFor="let star of [].constructor(ratingStars.empty)"
            [icon]="faStar"
          ></fa-icon>
        </div>
        <span class="text-gray-500">({{ product.stock }})</span>
      </div>

      <div class="add-to-cart absolute top-0 left-0 right-0 bottom-0 bg-white">
        <button
          class="btn-fill-primary flex items-center justify-center gap-2"
          (click)="addToCart()"
        >
          <fa-icon [icon]="faCart"></fa-icon>
          <span>Add To Cart</span>
        </button>
      </div>
    </div>
  </div>
</div>