@use "../../../styles/components/btn.scss";
@import "swiper/scss";
@import "swiper/scss/navigation";

.other-images {
  .swiper-button-next,
  .swiper-button-prev {
    @apply scale-50 text-accent opacity-0 transition-all duration-300;

    &::before {
      content: "";
      @apply absolute left-1/2 top-1/2 -z-10 h-16 w-16 -translate-x-1/2 -translate-y-1/2 transform bg-gray-100;
    }

    &:hover {
      @apply text-white;

      &::before {
        @apply bg-primary;
      }
    }
  }

  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      @apply opacity-100;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.control-quantity {
  button {
    @apply w-10 border border-transparent bg-gray-200 text-xl text-accent outline-none focus:border-primary;

    &:first-child {
      border-radius: 0.25rem 0 0 0.25rem;
    }
    
    &:last-child {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}
