<header class="fixed top-0 left-0 right-0 z-50 bg-white shadow-sm">
  <div class="container flex items-center gap-4 py-4">
    <a
      routerLink="/"
      class="flex items-center gap-2 text-lg font-bold text-accent md:text-2xl"
    >
      <img src="../../../assets/shopwise-logo.svg" alt="" class="md:w-10" />
      <span class="hidden md:inline">Shopwise</span>
    </a>

    <form class="flex-1 md:relative">
      <input
        type="search"
        #searchInput
        placeholder="What are you looking for?"
        (focus)="openSearchResultsPopup()"
        (input)="onSearchInput(searchInput.value)"
        class="w-full rounded-full border border-gray-300 px-4 py-2 outline-none focus:border-gray-500"
      />
      <div
        *ngIf="searchResults && searchInput.value"
        [ngClass]="{ hidden: !searchResultsPopupIsOpened }"
      >
        <div
          class="page-blocker fixed left-0 right-0 top-[75px] bottom-0 bg-gray-100 opacity-50"
          (click)="closeSearchResultsPopup()"
        ></div>
        <div
          class="search-results absolute left-[2.5%] top-20 z-40 w-[95%] overflow-hidden rounded-2xl border border-gray-300 bg-white shadow-md md:left-0 md:top-12 md:w-full"
        >
          <ul
            *ngIf="searchResults.length; else noResults"
            class="flex flex-col gap-1 py-2"
          >
            <li *ngFor="let result of searchResults">
              <a
                class="flex items-center gap-2 px-4 py-2 transition-colors hover:bg-gray-100 hover:text-primary"
                (click)="closeSearchResultsPopup()"
                [routerLink]="['/product', result.id]"
              >
                <img
                  [src]="result.images[0]"
                  alt=""
                  class="h-10 w-10 rounded-full"
                />
                <span>{{ result.title }}</span>
              </a>
            </li>
          </ul>

          <ng-template #noResults>
            <div class="p-4">
              <p class="text-center text-gray-500">No results found</p>
            </div>
          </ng-template>
        </div>
      </div>
    </form>

    <nav>
      <ul class="flex gap-5">
        <li>
          <button (click)="logoutUser()" class="link" *ngIf="authService.isLoggedIn.value; else login">
            <fa-icon [icon]="faLogout"></fa-icon>
            <span class="hidden md:inline">Logout</span>
          </button>
          <ng-template #login>
            <a routerLink="/login" class="link">
              <fa-icon [icon]="faUser"></fa-icon>
              <span class="hidden md:inline">Login</span>
            </a>
          </ng-template>
        </li>
        <li class="relative">
          <a routerLink="/cart" class="link">
            <fa-icon [icon]="faCart"></fa-icon>
            <span class="hidden md:inline"></span>
          </a>
          <span
            *ngIf="cartProducts.length"
            class="absolute h-5 w-5 rounded-full bg-primary text-center text-sm text-white -right-2 -top-2"
            >{{ cartProducts.length }}</span
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
