<header class="fixed top-0 left-0 right-0 z-50 bg-white shadow-sm">
  <div class="container flex items-center gap-4 py-4">
    <a routerLink="/" class="flex items-center gap-2 text-lg md:text-2xl font-bold text-accent">
      <img
        src="../../../assets/shopwise-logo.svg"
        alt=""
        class="md:w-10"
      />
      <span class="hidden md:inline">Shopwise</span>
    </a>

    <form class="flex-1 md:relative">
      <input
        type="search"
        #searchInput
        placeholder="What are you looking for?"
        (focus)="openSearchResultsPopup()"
        (input)="onSearchInput(searchInput.value)"
        class="w-full rounded-full border border-gray-300 px-4 py-2 outline-none focus:border-gray-500"
      />
      <div *ngIf="searchResults" [ngClass]="{ hidden: !searchResultsPopupIsOpened }">
        <div class="page-blocker bg-gray-100 opacity-50 fixed left-0 right-0 top-[75px] bottom-0" (click)="closeSearchResultsPopup()"></div>
        <div
          class="search-results absolute w-[95%] left-[2.5%] md:left-0 z-40 overflow-hidden md:w-full bg-white rounded-2xl shadow-md top-20 md:top-12  border border-gray-300"
        >
          <ul
            *ngIf="searchResults.length; else noResults"
            class="flex flex-col gap-1 py-2"
          >
            <li *ngFor="let result of searchResults">
              <a
                class="flex items-center gap-2 hover:bg-gray-100 hover:text-primary px-4 py-2 transition-colors"
                (click)="closeSearchResultsPopup()"
                [routerLink]="['/product', result.id]"
              >
                <img
                  [src]="result.images[0]"
                  alt=""
                  class="w-10 h-10 rounded-full"
                />
                <span>{{result.title}}</span>
              </a>
            </li>
          </ul>

          <ng-template #noResults>
            <div class="p-4">
              <p class="text-center text-gray-500">No results found</p>
            </div>
          </ng-template>
        </div>
      </div>
    </form>

    <nav>
      <ul class="flex gap-5">
        <li>
          <a
            routerLink="/dashboard"
            class="link"
          >
            <fa-icon [icon]="faUser"></fa-icon>
            <span class="hidden md:inline">Login</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/heroes"
            class="link"
          >
            <fa-icon [icon]="faCart"></fa-icon>
            <span class="hidden md:inline">Cart</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>