<div *ngIf="product" class="container flex min-h-screen items-center">
  <div class="mt-16 flex flex-col gap-8 md:flex-row">
    <div class="images w-full md:w-1/2">
      <div
        class="thumbnail w-full overflow-hidden border border-gray-200 transition-all duration-75"
        (mouseover)="onZoom($event, image)"
        (mousemove)="onZoom($event, image)"
        (mouseleave)="offZoom(image)"
      >
        <img
          #image
          [src]="product.images[currentImageIndex]"
          class="aspect-square w-full cursor-crosshair object-contain transition-all duration-75"
          alt=""
        />
      </div>
      <div class="other-images relative mt-4">
        <swiper [config]="swiperOptions">
          <ng-template
            swiperSlide
            *ngFor="let image of product.images; let i = index"
          >
            <img
              [src]="image"
              alt=""
              (click)="currentImageIndex = i"
              (keyup.enter)="currentImageIndex = i"
              [ngClass]="{ 'border-primary': currentImageIndex === i }"
              tabindex="0"
              class="aspect-square w-full border border-gray-200 object-cover transition-all duration-300 hover:cursor-pointer hover:border-gray-500 focus:border-primary focus:outline-none"
            />
          </ng-template>
        </swiper>

        <div class="swiper-button-prev absolute"></div>
        <div class="swiper-button-next absolute"></div>
      </div>
    </div>

    <div class="content flex w-full flex-col gap-5 md:w-1/2">
      <p class="text-3xl font-bold text-accent">{{ product.title }}</p>
      <p class="text-xl text-gray-500">{{ product.description }}</p>

      <div class="flex flex-wrap items-center gap-2 text-lg">
        <span class="text-3xl font-bold text-primary"
          >${{ product.price | number: "1.0-0" }}</span
        >
        <span
          class="text-gray-500 line-through"
          *ngIf="product.discountPercentage"
          >${{
            product.price * product.discountPercentage | number: "1.0-0"
          }}</span
        >
        <span class="text-green-600" *ngIf="product.discountPercentage"
          >{{ product.discountPercentage | number: "1.0-0" }}% off</span
        >
      </div>

      <div class="flex justify-between gap-5">
        <div class="flex text-2xl text-yellow-500">
          <fa-icon
            *ngFor="let star of [].constructor(ratingStars.filled)"
            [icon]="faStarFilled"
          ></fa-icon>
          <fa-icon
            *ngFor="let star of [].constructor(ratingStars.half)"
            [icon]="faStarHalf"
          ></fa-icon>
          <fa-icon
            *ngFor="let star of [].constructor(ratingStars.empty)"
            [icon]="faStar"
          ></fa-icon>
        </div>

        <span
          class="rounded-md bg-gray-200 px-2 py-1 text-lg font-semibold text-gray-600"
          >{{ product.stock }} in stock</span
        >
      </div>

      <hr />
      <div class="flex flex-wrap items-center gap-5">
        <div class="control-quantity flex items-stretch">
          <button (click)="decrementQuantity()" class="">-</button>
          <input
            type="number"
            class="w-14 border p-2 text-center text-lg outline-none focus:border-primary"
            [value]="quantity"
            #quantityInput
            min="1"
            max="{{ product.stock }}"
            (change)="quantity = +quantityInput.value"
          />
          <button (click)="incrementQuantity()" class="">+</button>
        </div>

        <button
          class="btn-fill-primary flex items-center justify-center gap-2 text-lg"
          (click)="addToCart()"
        >
          <fa-icon [icon]="faCart"></fa-icon>
          <span>Add To Cart</span>
        </button>

        <!-- <button
          class="favorite-btn text-2xl text-accent transition-all delay-75 duration-300 hover:text-primary"
        >
          <fa-icon *ngIf="product" [icon]="faHeartFilled"></fa-icon>
        </button> -->
      </div>

      <hr />
      <div>
        <p class="text-lg text-gray-500">
          Brand: <span class="text-gray-700">{{ product.brand }}</span>
        </p>
        <p class="text-lg text-gray-500">
          Category: <span class="text-gray-700">{{ product.category }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
