<div class="container flex min-h-screen flex-col items-center pt-24">
  <div class="login-card mb-8 rounded-lg bg-yellow-100 p-8 flex flex-col gap-2">
    <p class="font-bold text-lg">
      <span class="text-yellow-600">Username: </span
      ><span class="text-accent">atuny0</span>
    </p>
    <p class="font-bold text-lg">
      <span class="text-yellow-600">Password: </span
      ><span class="text-accent">9uQFF1Lh</span>
    </p>
  </div>
  <div class="login-card mb-20 rounded-sm bg-gray-50 p-8 shadow-lg">
    <h1 class="mb-10 text-center text-2xl text-accent">Login</h1>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-8"
    >
      <div class="flex flex-col gap-1">
        <!-- <label for="username">Username</label> -->
        <input
          type="text"
          id="username"
          formControlName="username"
          placeholder="Username"
          [ngClass]="{
            error: username?.invalid && (username?.dirty || username?.touched)
          }"
        />
        <span
          class="error-message"
          *ngIf="username?.invalid && (username?.dirty || username?.touched)"
          >Username is required</span
        >
      </div>
      <div class="flex flex-col gap-1">
        <!-- <label for="password">Password</label> -->
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Password"
          [ngClass]="{
            error: password?.invalid && (password?.dirty || password?.touched)
          }"
        />
        <span
          class="error-message"
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          >Password is required</span
        >
      </div>

      <button type="submit" class="btn-fill-primary">Login</button>
    </form>
  </div>
</div>
