<section class="container my-20">
  <div class="cards">
    <div class="card">
      <div class="">
        <img
          src="../../../assets/icons/noun-free-delivery-4739681.svg"
          alt=""
        />
      </div>
      <div>
        <p class="title">Free Delivery</p>
        <p class="description">Worldwide</p>
      </div>
    </div>

    <div class="card">
      <div class="">
        <img src="../../../assets/icons/noun-money-return-4958708.svg" alt="" />
      </div>
      <div>
        <p class="title">Money Return</p>
        <p class="description">30 days money return</p>
      </div>
    </div>

    <div class="card">
      <div class="">
        <img
          src="../../../assets/icons/noun-customer-service-21270.svg"
          alt=""
        />
      </div>
      <div>
        <p class="title">24/7 Support</p>
        <p class="description">Online Support</p>
      </div>
    </div>

    <div class="card">
      <div class="">
        <img
          src="../../../assets/icons/noun-payment-security-4475783.svg"
          alt=""
        />
      </div>
      <div>
        <p class="title">Secure Payment</p>
        <p class="description">100% Secure</p>
      </div>
    </div>
  </div>
</section>
